.mh-navbar {
  height: 105px;
  padding-left: 50px;
  padding-right: 49px;
  padding-top: 16px;

  .mh-navbar-left {
    gap: 72px;
  }

  .mh-navbar-text {
    color: $mh-primary-dark-color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .mh-navbar-center {
    padding-left: 80px;
    padding-right: 57px;
  }

  .mh-navbar-right {
    gap: 48px;
  }

  p {
    margin: 0;
  }
}
